body {
    margin: 0;
    font-family: Roboto;
}

.header {
    background-color: #1F2937;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 240px;
}

.logo {
    font-size: 24px;
    color: #F9FAF8;
}

.links {
    background-color: #1F2937;
    color: #E5E7EB;
    font-size: 18px;
    font-weight: 300;
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 24px;
}

.rectzero {
    padding: 100px 240px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 16px;
    background-color: #1F2937;
}

h1 {
    font-size: 48px;
    font-weight: 900;
    margin: 0;
    color: #F9FAF8;
}

.herosec {
    font-size: 18px;
    margin: 10px 0;
    margin-bottom: 15px;
    color: #E5E7EB;
}

.sign {
    background-color: #3882F6;
    color: #E5E7EB;
    font-size: 18px;
    padding: 8px 35px;
    border: none;
    border-radius: 5px;
}

.placeholder {
    color: #E5E7EB;
    background-color: #6e778a;
    padding: 110px 150px;
    white-space: nowrap;
}

.rectone {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 90px;
}

.illheader {
    font-size: 36px;
    color: #1F2937;
    font-weight: 900;
    margin-top: 40px;
    margin-bottom: 50px;
}

.illustrations {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 900px;
    gap: 60px;
}

.ill {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #6e778a;
    width: 150px;
}

.blank {
    width: 150px;
    height: 150px;
    border: 4px solid #3882F6;
    font-size: 18px;
    border-radius: 15px;
}

.recttwo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #E5E7EB;
    padding: 0 365px;
}

.quote {
    font-size: 36px;
    color: #1F2937;
    font-weight: 300;
    font-style: italic;
    margin: 0;
    margin-top: 120px;
}

.quoted {
    padding-right: 40px;
    margin: 0;
    align-self: flex-end;
    font-size: 22px;
    font-weight: 800;
    margin-bottom: 120px;
}

.footer {
    background-color: #1F2937;
    font-size: 18px;
    font-weight: 300;
    color: #E5E7EB;
    display: flex;
    justify-content: center;
    align-items: center;
}